{% if page.active %}
	<section>
		<div class="textWrap">
			{% if page.header.displayTitle %}
				<h2>{{ page.header.displayTitle }}</h2>
			{% else %}
				<h2>{{ page.title }}</h2>
			{% endif %}
			{{ page.content }}
		</div>
	</section>

{% else %}
	<section class="backgrounder" style="background-image:url({{ page.media.images|first.url }});">
		<div class="textWrap">
			{% if page.header.displayTitle %}
				<h2>{{ page.header.displayTitle }}</h2>
			{% else %}
				<h2>{{ page.title }}</h2>
			{% endif %}
			{{ page.content }}

			<a class="cta" href="{{ page.url }}">Learn More</a>
		</div>
	</section>
{% endif %}
