{% if page.active %}
	<section class="vidpopup">
		<div class="textWrap">
			{% if page.header.displayTitle %}
				<h2>{{ page.header.displayTitle }}</h2>
			{% else %}
				<h2>{{ page.title }}</h2>
			{% endif %}
			{{ page.content }}
		</div>
		<a class="cta" href="{{ page.url }}" data-video="{{ page.media.videos|first.url }}">Watch Now</a>
	</section>

{% else %}
	<section class="vidpopup">
		<div class="textWrap">
			{% if page.header.displayTitle %}
				<h2>{{ page.header.displayTitle }}</h2>
			{% else %}
				<h2>{{ page.title }}</h2>
			{% endif %}
			{{ page.content }}
			<a class="cta" href="{{ page.url }}" data-video="{{ page.media.videos|first.url }}">Watch Now</a>
		</div>
	</section>
{% endif %}
